{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="front">
        <p class="large"></p>
    </div>
        
        <div class="back">
          <div>
            <div class="title"><span class="release_date"></span></div>
            <div class="rating">
              <label>   </label>
              <i class="fas fa-star star"></i>
            </div>
            <p class="review"></p>
            <p class="overview">
              
            </p>
            <a href="{{ url_for('download_app_1') }}" type="button" class="download-btn btn btn-outline-dark">Download</a>
            <!-- <a href="#" type="button" class="download-btn btn btn-outline-dark button download-button">View</a> -->

        </div>
      </div>
      
    </div>
</div>

<div class="card">
    <div class="front">
        <p class="large"></p>
    </div>
        
        <div class="back">
          <div>
            <div class="title"><span class="release_date"></span></div>
            <div class="rating">
              <label>   </label>
              <i class="fas fa-star star"></i>
            </div>
            <p class="review"></p>
            <p class="overview">
              
            </p>
            <a href="{{ url_for('download_app_1') }}" type="button" class="download-btn btn btn-outline-dark">Download</a>
            <!-- <a href="#" type="button" class="download-btn btn btn-outline-dark button download-button">View</a> -->

        </div>
      </div>
      
    </div>
</div> 

<div class="card">
    <div class="front">
        <p class="large"></p>
    </div>
        
        <div class="back">
          <div>
            <div class="title"><span class="release_date"></span></div>
            <div class="rating">
              <label>   </label>
              <i class="fas fa-star star"></i>
            </div>
            <p class="review"></p>
            <p class="overview">
              
            </p>
            <a href="{{ url_for('download_app_1') }}" type="button" class="download-btn btn btn-outline-dark">Download</a>
            <!-- <a href="#" type="button" class="download-btn btn btn-outline-dark button download-button">View</a> -->

        </div>
      </div>
      
    </div>
</div> 
{% endblock %}